[Desktop Entry]
Encoding=UTF-8
Name=Link to Creating a web service test program with SOAP / SSL using JAVA/C++ - Web, Mobile & Software Dev
Type=Link
URL=https://www.upwork.com/jobs/Creating-web-service-test-program-with-SOAP-SSL-using-JAVA_%7E01121746a1d94fe890
Icon=text-html
